{
  "ANDROID_API_KEY": "YOUR_ANDROID_API_KEY",
  "ANDROID_APP_ID": "YOUR_ANDROID_APP_ID",
  "ANDROID_MESSAGING_SENDER_ID": "YOUR_SENDER_ID",
  "ANDROID_PROJECT_ID": "YOUR_PROJECT_ID",
  "ANDROID_STORAGE_BUCKET": "YOUR_PROJECT_ID.firebasestorage.app",
  "IOS_API_KEY": "YOUR_IOS_API_KEY",
  "IOS_APP_ID": "YOUR_IOS_APP_ID",
  "IOS_MESSAGING_SENDER_ID": "YOUR_SENDER_ID",
  "IOS_PROJECT_ID": "YOUR_PROJECT_ID",
  "IOS_STORAGE_BUCKET": "YOUR_PROJECT_ID.firebasestorage.app",
  "IOS_BUNDLE_ID": "com.example.yourApp"
}
